.header-bg{
    background-color: #242424;
    width: 100%;
    height: 77px;
    align-items: center;
    display: flex;
    font-family: Roboto Medium, serif;
    line-height: 32px;
    text-decoration: white;
    color: white;
}

#keyword{
    width: 490px;
}



.order-inputs{
    width: 1000px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

td{
    background-color: #ffdb66;
    border-radius: 5px;
    padding: 10px;
}

.button{
    margin-left: 15px;
    border-radius: 15px;
    background-color: #f5f5f5;
    padding: 20px;
}

.button-user{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.empty{
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.form-search{
    width: 50%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-10%, -30%);
    left: 50%;
    top: 50%;
}

.order-empty{
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.not-auth{
    text-align: center;
    top: 50%;
}

div > a{
    color: white;
    text-decoration: none !important;
}

.category{
    color: #000000;
    font-family: "Roboto Black", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}

.margin{
    margin-bottom: 10px;
}

div > a:hover{
    color: #0064ff;
}

.one-line{
    flex-wrap: nowrap;
}

.item{
    align-content: center;
    horiz-align: center;
    font-family: Roboto, serif;
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 20%);
    margin-bottom: 15px;
    margin-top: 15px;
    width: 1262px;
}

.under-item{
    display: flex;
    align-items: center;
}

.under-item-status{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.cats-brands{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pages{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.col-null{
    flex-grow: 0;
    margin-bottom: 20px;
}

.page-digits-bg-link{
    color: #0064ff;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
.page-digits-bg-link:hover{
    color: #ffb016;
}
.page-digits-bg{
    color: #000000;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
}


.bucket-container{
    width: 1262px;
    height: 100%;
}

.bucket{
    margin-left: 15px;
    align-content: center;
    justify-content: center;
}

.to-orders{
    color: #0064ff;
    margin-top: 15px;
}

.to-orders:hover{
    color: #ffb016;
}

.buy-button{
    color: #0064ff;
    margin-top: 25px;
    margin-bottom: 40px;
}

.green{
    background-color: #abffab;
}

.gray{
    background-color: #d5d5d5;
}

.red{
    background-color: #ff856a;
}

.going-status{
    background-color: #4b4cff;
}

.delivered-status{
    background-color: #4b4cff;
}

.modal{
    display: none; /* По умолчанию окно закрыто */
    z-index: 10; /* Чтобы сделать окно поверх всех элементов */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный темный фон */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll; /* При переполнении окна делаем скролл */
    padding: 20px;
}

.modal--open {
    display: flex; /* Модификатор для открытого окна */
}

.modal__box {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.modal__title {
    color: #111;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.modal__info {
    color: #111;
    font-size: 16px;
    margin-bottom: 30px;
}

.modal__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock {
    overflow-y: hidden;
}

#order-in-details{
    width: 25px;
    text-align: center;
}

.buy-button:hover{
    color: #ffb016;
}

.add-to-bucket{
    color: #0064ff;
}

.add-to-bucket:hover{
    color: #ffb016;
}

.order-id-color{
    color: #0064ff;
}

.order-id-color:hover{
    color: #ffb016;
}

textarea{
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 1000px;
}

a.category:hover{
    color: #ffb016;
}

.container-categories{
    position: absolute;
    width: 1127px;
    height: 638px;
    margin-left: 500px;
    margin-top: 62px;
    background-color: #ffb016;
}

.container-block-notebook{
    position: absolute;
    width: 484px;
    height: 294px;
    background-color: #F2FFE2;
}

input{
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 20%);
    width: 400px;
}

select{
    border-radius: 10px;
    outline: none;
}

.img{
    width: 50%;
}

.search-button{
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

button{
    outline: none;
    border-style: none;
    border-radius: 10px;
}

.button-add-product{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #f5f5f5;
    padding: 20px;
}

input{
    padding: 5px;
    outline: none;
    border-style: none;
    border-radius: 10px;
}

table{
    border-collapse: separate;
    position: relative;
    display: flex;
    justify-content: center;
}

.user-form-1{
    justify-content: center;
    position: relative;
    display: flex;
}

.login{
    margin-top: 25px;
    height: 10em;
    display: flex;
    justify-content: center;
}

.categories-a{
    position: absolute;
    width: 146px;
    height: 23px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.categories{
    width: 261px;
    height: 628px;
    position: relative;
    background-color: #FFFFFF;
    padding: inherit;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 15px;
}