<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание товара</title>
</head>
<body>
<div class="modal" id="modal">
  <form th:action="@{/products/add}">
    <div class="modal__box">
      <div class="modal__title">Добавление товара</div>
      <div class="modal__info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sunt
        possimus voluptas dignissimos nostrum vero distinctio qui deserunt unde
        rerum.
      </div>
      <div class="modal__bottom">
        <button type="submit"></button>
        <a href="#" class="btn btn--close" id="btn_close">Close</a>
      </div>
    </div>
  </form>

</div>
</body>
</html>